.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px;
    border-radius: 16px;
    background-color: #013328;
}

// 013328
// CC8B65
// ECD3D2