// 100C0D
// 013328
// CC8B65
// ECD3D2
h1 {
    color: azure;
}
.newTaskForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    border-radius: 13px;
    background-color: #CC8B65;
    width: 30%;

    .newTaskFormName {
        display: flex;
        justify-content: center;

        input {
            padding: 10px;
            border-radius: 13px;
            border: none;
            width: 100%;
            background-color: #ECD3D2;
            color: #000;
        }
    }

    .newTaskFormDates {
        display: flex;
        justify-content: space-around;

        .newTaskFormDatesContainer {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            background-color: #013328;
            padding: 10px;
            border-radius: 16px;
            gap: 10px;

            label {
                font-weight: 1000;
                color: azure;
            }

            input {
                padding: 10px;
                border-radius: 13px;
                border: none;
                background-color: #ECD3D2;
                // color: red;
            }
        }
    }

    .newTaskFormComments {
        display: flex;
        justify-content: center;

        .newTaskFormCommentsInput {
            padding: 10px;
            width: 100%;
            border-radius: 13px;
            border: none;
            background-color: #ECD3D2;
        }
    }

    .button {
        padding: 10px;
        border-radius: 13px;
        border: none;
        background-color: #ECD3D2;
        color: #000;
    }
}