form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;

        input, textarea {
            padding: 10px;
            border-radius: 16px;
            border: none;
            width: 100%;
        }
    }

    button {
        padding: 10px;
        border-radius: 16px;
        border: none;
    }
}