.maj {
    color: #100C0D
    #013328
    #CC8B65
    #ECD3D2
}

.tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .tasksList {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;

        .tasksListDiv {
            display: flex;
            flex-direction: column;
            padding: 10px;
            background-color: #CC8B65;
            display: flex;
            height: fit-content;
            width: 300px;
            border-radius: 13px;

            label {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                padding: 10px;
                gap: 10px;
                font-weight: 900;
                font-size: 20px;

                .tasksListDivTop {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                }
                
            }

            .tasksListDivData {
                display: flex;
                flex-direction: column;
                justify-content: center;

                .tasksListDivDataDate {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;

                    p {
                        font-size: 15px;
                    }
                }

                .buttons {
                    display: flex;
                    justify-content: space-around;
                }
            }
        }
    }

    button {
        padding: 10px;
        border-radius: 13px;
        border: none;
        width: 100px;
    }
}